*.bundle.*
lib/
node_modules/
notebooks_test/
*.egg-info/
.ipynb_checkpoints
.DS_Store
analysis/
.jupyter_ystore.db
*.ipyhistory
*.ipynb
__pycache__
jupyterlab_scicap_verdant/_version.py
jupyterlab_scicap_verdant/labextension/